
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

header {
    background-color: #900;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li.logo img {
    height: 40px;
    vertical-align: middle;
}

header nav ul div.nav-links {
    display: flex;
    gap: 15px;
}

header nav ul li a:hover {
    text-decoration: underline;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 20px;
}

main #error-content {
    margin-top: -50px;
}

main #error-content .error-title {
    font-size: 2em;
    color: #900;
    margin-bottom: 10px;
}

main #error-content img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
}

main #error-content h2 {
    font-size: 1.5em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
}

main #error-content .home-button {
    background-color: #900;
    color: #ceb1b1;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

main #error-content .home-button:hover {
    background-color: #700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #900;
    color: #fff;
    font-size: 0.9em;
    position: relative;
}

/* Responsive Design */
@media (max-width: 768px) {
    main #error-content .error-title {
        font-size: 1.8em;
    }

    main #error-content img {
        max-width: 300px;
    }

    main #error-content h2 {
        font-size: 1.2em;
    }

    main #error-content .home-button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    header nav ul li.logo img {
        height: 30px;
    }

    main #error-content .error-title {
        font-size: 1.5em;
    }

    main #error-content img {
        max-width: 200px;
    }

    main #error-content h2 {
        font-size: 1em;
    }

    main #error-content .home-button {
        padding: 6px 12px;
        font-size: 0.8em;
    }
}
